
        <div class="divider"></div>
      
      
        <div class="row mt-5">
            <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
            <form action="/api/users" method="post" class="col s12" id="createUser">
            <div class="row mt-4">
                <div class="input-field">
            
                    <input type="text" name="username" id="username" >
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
            
                    <input type="email" name="email" id="email" > 
                    <label for="email">Email</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field">
                    <select name="gender" id="gender">
            
                        <option value="male" selected>Male</option>
                        <option value="female" >Female</option>
                        <option value="other" >Other</option>
                        
                    </select>
                    <label for="Gender">Gender</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field">
                    <select name="status" id="status">
            
                        <option value="active" selected>Active</option>
                        <option value="inactive" >Inactive</option>
                        
                    </select>
                    <label for="status">Status</label>
                </div>
            </div>
            
            <div class="row ">
                <input type="submit" value="Save" class="btn">
                <a href="/" class="btn orange">Cancel</a>
            </div>
            
            </form>
            
            </div>
            