
   <nav class="grey darken-3">
    <div class="nav-wrapper container">
    
    <a href="" class="brand-logo center"> CRUD APP</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
       <i class="fas fa-bars"></i>
    </a>
    <ul class="sidenav" id="mobile-demo">
    
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
    
    </ul>
    
    </div>
    
    
    </nav>

    
        <div class="divider"></div>
 
        <div class="row mt-5">
            <div class="col-md-8 m-auto">

                <div class="section">
                    <a href="signup/" class="btn red darken-1">
                    <i class="fas fa-user left"></i> New User  
                    </a>
                </div>
                <div class="card card-body text-center">
                    <form action="" method="post">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td>uusssss</td>
                                    <td>jjhhhhhh@mmmmmmmgm</td>
                                    <td>Male</td>
                                    <td>Active</td>
                                    <td>
                                        <a href="" class="btn border-shadow update"> <span class="text-gradient">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span> </a>
                                        <a href="" class="btn border-shadow delete"> <span class="text-gradient">
                                            <i class="fas fa-times"></i>
                                        </span> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        


                    </form>
        </div>
        </div>
        </div>